Repository FRONTENDSCHOOL6/ready-act, pull requests merged in 2023-09, with the labels that each got.

#13 [R09M App] 메인 페이지 / 회원가입 페이지
  .eslintrc.cjs
  src/assets/icons/spot.svg
  src/assets/placeholderProfile.jpeg
  src/components/Button.jsx
  src/components/FormInput.jsx
  src/components/Input.jsx
  src/components/Spinner.jsx
  src/data/category.js
  src/data/positions.js
  src/layout/Header.jsx
  src/pages/CreateRoom.jsx
  src/pages/Details/Detail.jsx
  src/pages/Details/DetailMap.jsx
  src/pages/Home.jsx
  src/pages/Logo.jsx
  src/pages/Products/Fruit.jsx
  src/pages/Products/Grains.jsx
  src/pages/Products/Meat.jsx
  src/pages/Products/Total.jsx
  src/pages/Products/Vegetable.jsx
  src/pages/Users.jsx
  src/pages/auth/SignIn.jsx
  src/pages/auth/SignUp.jsx
  src/parts/map/Map.jsx
  src/parts/map/currentLocation.js
  src/parts/map/mapMark.js
  src/parts/nav/ChatIcon.jsx
  src/parts/nav/HomeIcon.jsx
  src/parts/nav/Nav.jsx
  src/parts/nav/ProfileIcon.jsx
  src/parts/nav/SearchIcon.jsx
  src/routes.jsx
  src/styles/Nav.module.css
  src/styles/customComponents.css
  src/utils/debounce.js
  src/utils/getPbImageURL.js
Labels: 🎆 react, 🌞 prop types, 👨‍💻 pocketBase / pocketHost, 🍞 react hot toast, 🍃 tailwind, 🚗 react router, ➕ add, ✨ feat, 🗺️ map API, 💿 local storage

#24 [R09M App] 로그인 페이지
  src/App.jsx
  src/context/Auth.jsx
  src/hooks/useStorage.jsx
  src/pages/auth/SignIn.jsx
  src/routes.jsx
  src/styles/customComponents.css
Labels: 🎆 react, 👨‍💻 pocketBase / pocketHost, 🍞 react hot toast, 🍃 tailwind, 🚗 react router, ➕ add, ✨ feat, 💿 local storage

#28 [R09M App] 게시물 상세 페이지
  index.html
  public/favicon.png
  src/assets/icons/Dinner.svg
  src/assets/icons/IconCrownSmall.svg
  src/assets/icons/IconDots.svg
  src/assets/icons/Location.svg
  src/assets/icons/pickup.svg
  src/components/Button.jsx
  src/pages/Details/DetailStatus.jsx
  src/pages/Details/StatusIcon.jsx
  src/pages/SignInUsers.jsx
  src/pages/Users.jsx
  src/pages/details/Detail.jsx
  src/pages/details/DetailMap.jsx
  src/routes.jsx
  src/utils/numberWithComma.js
Labels: 🎆 react, 👨‍💻 pocketBase / pocketHost, 🍃 tailwind, 🚗 react router, ➕ add, ✨ feat, 🗺️ map API

#38 [R09M App] 참여하기, 취소하기, 더 보기 버튼 모달 다이얼로그 기능 추가
  src/assets/icons/Logo.svg
  src/pages/details/Backdrop.jsx
  src/pages/details/Cancel.jsx
  src/pages/details/Detail.jsx
  src/pages/details/DetailStatus.jsx
  src/pages/details/Dialog.jsx
  src/pages/details/Participation.jsx
  src/pages/details/SeeMore.jsx
  src/routes.jsx
Labels: 🎆 react, 🌞 prop types, 👨‍💻 pocketBase / pocketHost, 🍃 tailwind, ➕ add, ✨ feat, 💬dialog

#42 [R09M App] 리팩토링
  index.html
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/components/Spinner.jsx
  src/layout/CreateHeader.jsx
  src/layout/Header.jsx
  src/pages/CreateRoom.jsx
  src/pages/Home.jsx
  src/pages/Logo.jsx
  src/pages/Search.jsx
  src/pages/auth/Profile.jsx
  src/pages/auth/SignIn.jsx
  src/pages/auth/SignUp.jsx
  src/pages/details/ChangeStatus.jsx
  src/pages/details/Detail.jsx
  src/pages/details/DetailMap.jsx
  src/pages/details/Participation.jsx
  src/pages/details/SeeMore.jsx
  src/pages/products/Fruit.jsx
  src/pages/products/Grains.jsx
  src/pages/products/Meat.jsx
  src/pages/products/Total.jsx
  src/pages/products/Vegetable.jsx
  src/pages/users/Users.jsx
  src/parts/create/CategoryDropdown.jsx
  src/parts/create/ContentTextarea.jsx
  src/parts/create/Creator.jsx
  src/parts/create/DatePicker.jsx
  src/parts/create/FileUpload.jsx
  src/parts/create/MeetingPoint.jsx
  src/parts/create/ParticipateCounter.jsx
  src/parts/create/PaymentToggleButton.jsx
  src/parts/create/Status.jsx
  src/parts/create/TimePicker.jsx
  src/parts/map/Location.jsx
  src/parts/map/LocationNewPage.jsx
  src/parts/map/mapMark.js
  src/routes.jsx
  src/styles/Nav.module.css
  src/styles/customComponents.css
  vite.config.js
Labels: 🐛 bug, 🙏 help wanted, 💡 question, 🎆 react, 👨‍💻 pocketBase / pocketHost, 📕 tanstack query, 🍃 tailwind, 💫 framer motion, 🗺️ map API

#44 [R09M App] 리팩토링
  src/App.jsx
  src/pages/CreateRoom.jsx
  src/pages/Home.jsx
  src/pages/Logo.jsx
  src/pages/Search.jsx
  src/pages/auth/Profile.jsx
  src/pages/auth/SignIn.jsx
  src/pages/auth/SignUp.jsx
  src/pages/details/ChangeStatus.jsx
  src/pages/details/Detail.jsx
  src/pages/details/Dialog.jsx
  src/pages/details/Participation.jsx
  src/pages/details/SeeMore.jsx
  src/pages/users/Users.jsx
  src/parts/map/Location.jsx
  src/styles/customComponents.css
Labels: 🍃 tailwind

#45 [R09M App] 리팩토링
  src/App.jsx
  src/pages/CreateRoom.jsx
  src/pages/Home.jsx
  src/pages/Logo.jsx
  src/pages/details/Detail.jsx
  src/pages/details/DetailMap.jsx
  src/pages/details/Participation.jsx
  src/pages/products/Fruit.jsx
  src/pages/products/Grains.jsx
  src/pages/products/Meat.jsx
  src/pages/products/Total.jsx
  src/pages/products/Vegetable.jsx
  src/styles/customComponents.css
Labels: 🐛 bug, 📕 tanstack query, 🍃 tailwind

#47 [R09M App] README 파일 작성 및 수정 완료
  README.md
Labels: ➕ add
